industry process.txt
[
    {
        "id": "9c104584e04fcd19",
        "type": "inject",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "16a4405ff1714f91",
                "a3de0aec9204aa5c"
            ]
        ]
    },
    {
        "id": "16a4405ff1714f91",
        "type": "modbus-getter",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "Input",
        "adr": "0",
        "quantity": "7",
        "server": "",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 300,
        "y": 20,
        "wires": [
            [
                "7aa18fb4a5e1f968",
                "e25c51859a4aeb5b"
            ],
            []
        ]
    },
    {
        "id": "7aa18fb4a5e1f968",
        "type": "debug",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 20,
        "wires": []
    },
    {
        "id": "e25c51859a4aeb5b",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "func": "global.set('start',msg.payload[0])\nglobal.set('stop',msg.payload[1])\nglobal.set('beam8',msg.payload[4])\nglobal.set('beam7',msg.payload[3])\nglobal.set('beam6',msg.payload[2])\nglobal.set('nodered',msg.payload[5])\nglobal.set('panel',msg.payload[6])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a3de0aec9204aa5c",
        "type": "modbus-getter",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "1000",
        "quantity": "1",
        "server": "",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "b2059b02689da257",
                "a675934d8fa32e5a"
            ],
            []
        ]
    },
    {
        "id": "b2059b02689da257",
        "type": "debug",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "a675934d8fa32e5a",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "func": "global.set('pot',msg.payload[0])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "49685f0130c79a50",
        "type": "inject",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "660ea4ed76154acf",
                "98c0685462f783f3"
            ]
        ]
    },
    {
        "id": "660ea4ed76154acf",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "func": "var start = global.get('start');\nvar stop = global.get('stop');\nvar nodered = global.get('nodered');\nvar panel = global.get('panel');\nvar motor = global.get('motor');\nvar pot = global.get('pot');\n\nvar slider = global.get('slider');\nvar startnr = global.get('startnr');\nvar stopnr = global.get('stopnr');\n\nif (panel === true && nodered === false)\n{\n    if (start === true)\n    {\n        global.set('motor',true);\n    }\n    if (stop === false)\n    {\n       global.set('motor',false); \n    }\nvar motor = global.get('motor');\n    if (motor === true)\n    {\n      global.set('motorspeed',pot);  \n    }\n    if (motor === false)\n    {\n      global.set('motorspeed',0);  \n    }\n    var motor = global.get('motor');\n    msg.topic = \"panelmode\";\n    msg.payload = motor;\nreturn msg; \n}\nif (panel === false && nodered === true)\n{\n    if (startnr === true)\n    {\n        global.set('motor',true);\n    }\n    if (stopnr === true)\n    {\n       global.set('motor',false); \n    }\nvar motor = global.get('motor');\n    if (motor === true)\n    {\n      global.set('motorspeed',slider);  \n    }\n    if (motor === false)\n    {\n      global.set('motorspeed',0);  \n    }\n    var motor = global.get('motor');\n    msg.topic = \"noderedmode\";\n    msg.payload = motor;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "294b63d801374c4f",
                "d20e826f528533cd",
                "ffb1a6ebbbde8712"
            ]
        ]
    },
    {
        "id": "294b63d801374c4f",
        "type": "debug",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "d20e826f528533cd",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "func": "if (msg.topic == 'noderedmode')\n{\n  msg.enabled = true;\n  return msg;\n}\nif (msg.topic == 'panelmode')\n{\n  msg.enabled = false;\n  return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "642fc8c982015936",
                "dff81db1be6c1aef"
            ]
        ]
    },
    {
        "id": "45f12cca227d6d35",
        "type": "trigger",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "f5f9c1b8c23c4d9b"
            ]
        ]
    },
    {
        "id": "a368ac69c82bfc9a",
        "type": "trigger",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 320,
        "wires": [
            [
                "a9e7a2e5f64fe1a6"
            ]
        ]
    },
    {
        "id": "f5f9c1b8c23c4d9b",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "func": "global.set('startnr',msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a9e7a2e5f64fe1a6",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "func": "global.set('stopnr',msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "16b9fb1b69394a68",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "func": "p = msg.payload * 10\nglobal.set('slider',p)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "98c0685462f783f3",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "Motorspeed",
        "func": "msg.payload = global.get('motorspeed')/10;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "5fe2e29846dfac7a"
            ]
        ]
    },
    {
        "id": "804f4f9f5476d3f8",
        "type": "inject",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "1af9cc97e0ecc292",
                "25f9b479fc373733"
            ]
        ]
    },
    {
        "id": "1af9cc97e0ecc292",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "Logic",
        "func": "msg1 ={};\nmsg2 = {};\nmsg3 = {};\n\nvar beam8 = global.get('beam8');\nvar beam7 = global.get ('beam7');\nvar beam6 = global.get ('beam6');\n\nif (beam8 === true && beam7 === true && beam6 === true)\n{\n    msg1.payload = true;\n    msg1.topic = \"Large Boxes\"\n    return [msg1,null,null]\n}\n\nif (beam8 === true && beam7 === true && beam6 === false)\n{\n    msg2.payload = true;\n    msg2.topic = \"Medium Boxes\"\n    return [null,msg2,null]\n}\n\nif (beam8 === true && beam7 === false && beam6 === false)\n{\n    msg3.payload = true;\n    msg3.topic = \"Small Boxes\"\n     return [null,null,msg3]   \n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 520,
        "wires": [
            [
                "b927a50b7151403f"
            ],
            [
                "46e7002a95a363ed"
            ],
            [
                "b48318782bcae818"
            ]
        ]
    },
    {
        "id": "b927a50b7151403f",
        "type": "trigger",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "f19805b6c335bcc3"
            ]
        ]
    },
    {
        "id": "46e7002a95a363ed",
        "type": "trigger",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "5c1b5147794a3feb"
            ]
        ]
    },
    {
        "id": "b48318782bcae818",
        "type": "trigger",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 600,
        "wires": [
            [
                "00d420e2c5a915ea"
            ]
        ]
    },
    {
        "id": "f19805b6c335bcc3",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "Count",
        "func": "var largecount = global.get('largecount')||0;\nif (msg.payload == \"1\")\n{\n    var largecountmarker = global.get('largecount')||0;\n    largecountmarker = largecountmarker + 1;\n    global.set('largecount', largecountmarker);\n}\nmsg.topic = \"Larbe boxes\";\nmsg.payload = largecount;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 520,
        "wires": [
            [
                "b6d59fec3d74d08f"
            ]
        ]
    },
    {
        "id": "5c1b5147794a3feb",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "Count",
        "func": "var mediumcount = global.get('mediumcount')||0;\nif (msg.payload == \"1\")\n{\n    var mediumcountmarker = global.get('mediumcount')||0;\n    mediumcountmarker = mediumcountmarker + 1;\n    global.set('mediumcount', mediumcountmarker);\n}\n\nmsg.topic = \"Medium boxes\";\nmsg.payload = mediumcount;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "19e2d74b3aa64fd2"
            ]
        ]
    },
    {
        "id": "00d420e2c5a915ea",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "Count",
        "func": "var smallcount = global.get('smallcount')||0;\nif (msg.payload == \"1\")\n{\n    var smallcountmarker = global.get('smallcount')||0;\n    smallcountmarker = smallcountmarker + 1;\n    global.set('smallcount', smallcountmarker);\n}\n\nmsg.topic = \"Small boxes\";\nmsg.payload = smallcount;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 600,
        "wires": [
            [
                "31f1d50bdb31e42f"
            ]
        ]
    },
    {
        "id": "b6d59fec3d74d08f",
        "type": "debug",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "19e2d74b3aa64fd2",
        "type": "debug",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "31f1d50bdb31e42f",
        "type": "debug",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "25f9b479fc373733",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "Count",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nvar largecount = global.get('largecount')||0;\nvar mediumcount = global.get('mediumcount')||0;\nvar smallcount = global.get('smallcount')||0;\n\nmsg1.topic = \"Large\";\nmsg1.payload = largecount;\n\nmsg2.topic = \"Medium\";\nmsg2.payload = mediumcount;\n\nmsg3.topic = \"Small\";\nmsg3.payload = smallcount;\n\nmsg4.payload = [msg1.payload,msg2.payload,msg3.payload]\n\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 680,
        "wires": [
            [
                "db6e83cc0f301c91"
            ],
            [
                "db6e83cc0f301c91"
            ],
            [
                "db6e83cc0f301c91"
            ],
            [
                "5082b9ea76423634"
            ]
        ]
    },
    {
        "id": "22821a8610d884e4",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "Reset Count",
        "func": "global.set('largecount',0);\nglobal.set('mediumcount',0);\nglobal.set('smallcount',0);",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 790,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9a088e3fcb6224",
        "type": "inject",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 886,
        "wires": [
            [
                "b257a6ffc9f8ed71"
            ]
        ]
    },
    {
        "id": "b257a6ffc9f8ed71",
        "type": "function",
        "z": "b68d4ad0fc398c8c",
        "name": "Logic",
        "func": "msg.payload = global.get('motorspeed');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 263,
        "y": 887,
        "wires": [
            [
                "4fbf31fb1d840ab5",
                "9974ef5bbbafdd45"
            ]
        ]
    },
    {
        "id": "4fbf31fb1d840ab5",
        "type": "modbus-write",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "nodered",
        "dataType": "HoldingRegister",
        "adr": "2000",
        "quantity": "1",
        "server": "",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 500,
        "y": 887,
        "wires": [
            [
                "93486b0543ee7a28"
            ],
            []
        ]
    },
    {
        "id": "9974ef5bbbafdd45",
        "type": "debug",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 482,
        "y": 943,
        "wires": []
    },
    {
        "id": "93486b0543ee7a28",
        "type": "debug",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 702,
        "y": 881,
        "wires": []
    },
    {
        "id": "ffb1a6ebbbde8712",
        "type": "ui_text",
        "z": "b68d4ad0fc398c8c",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control mode",
        "format": "{{msg.topic}}",
        "layout": "row-spread",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "642fc8c982015936",
        "type": "ui_button",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "45f12cca227d6d35"
            ]
        ]
    },
    {
        "id": "dff81db1be6c1aef",
        "type": "ui_button",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "group": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 515,
        "y": 306,
        "wires": [
            [
                "a368ac69c82bfc9a"
            ]
        ]
    },
    {
        "id": "0604ae21bb18564e",
        "type": "ui_slider",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "label": "Motor Speed ( 0 - 100%)",
        "tooltip": "",
        "group": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "16b9fb1b69394a68"
            ]
        ]
    },
    {
        "id": "5fe2e29846dfac7a",
        "type": "ui_gauge",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "group": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "db6e83cc0f301c91",
        "type": "ui_chart",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "group": "",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff40",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "5082b9ea76423634",
        "type": "ui_template",
        "z": "b68d4ad0fc398c8c",
        "group": "",
        "name": "",
        "order": 13,
        "width": 6,
        "height": 2,
        "format": "<table style=\"width:100%\" >\n  <tr>\n    <th>Large</th>\n    <th>Medium</th>\n    <th>Small</th>\n  </tr>\n  <tr align=\"center\">\n    <td>{{msg.payload[0]}}</td>\n    <td>{{msg.payload[1]}}</td>\n    <td>{{msg.payload[2]}}</td>\n  </tr>\n\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 611,
        "y": 742,
        "wires": [
            []
        ]
    },
    {
        "id": "e9c5bccbcdc5301f",
        "type": "ui_button",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "group": "",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 378,
        "y": 742,
        "wires": [
            [
                "db6e83cc0f301c91"
            ]
        ]
    },
    {
        "id": "793085ed182a7604",
        "type": "ui_button",
        "z": "b68d4ad0fc398c8c",
        "name": "",
        "group": "",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Box Counts",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 351,
        "y": 788,
        "wires": [
            [
                "22821a8610d884e4"
            ]
        ]
    }
]